{{ $conjurVersion := .ComponentReleaseVersion "cyberark/conjur" -}}
{{ $helmChartVersion := .ComponentReleaseVersion "cyberark/conjur-oss-helm-chart" -}}

<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:conditions="project_conditions.OSS">
  <head></head>
  <body>
    <h1>Version {{ toLower .Version }}</h1>
{{- if .Description }}
    <p>{{ .Description }}</p>
{{- end }}
    <p>The following components are included or enhanced in the Conjur OSS suite version {{ toLower .Version }}.</p>

    <h2>Components</h2>
    <p>The following components, with links to their GitHub releases, comprise the Conjur Open Source Suite:</p>
    {{- range .SuiteCategories }}
    <h3>{{ .CategoryName }}</h3>
    <ul>
      {{- range .Components }}
      <li>
        <p><a href="https://github.com/{{ .Repo }}/releases/tag/{{ .ReleaseName }}" target="_blank">{{ .Repo }} {{ .ReleaseName }}</a> ({{ .ReleaseDate }})</p>
      </li>
      {{- end }}
    </ul>
    {{- end }}

    <!--
      This section should be in a partial on its own but we can't do that until issue
      https://github.com/cyberark/conjur-oss-helm-chart/issues/50 is done
    -->
    <h2>Conjur OSS Suite installation</h2>
    <p>Installing the Suite Release Version of Conjur requires setting the container image tag.</p>
    <p>Follow the instructions relevant for your environment.</p>

    <ul>
      <li>
        <b>Docker or docker-compose</b>

        <p>
        Set the container image tag to <code>cyberark/conjur:{{$conjurVersion}}</code>. For
        example, make the following update to the conjur service in the
        <a href="https://github.com/cyberark/conjur-quickstart/blob/master/docker-compose.yml" target="_blank">quickstart docker-compose.yml</a>:
        </p>

        <pre><code>image: cyberark/conjur:{{$conjurVersion}}</code></pre>
      </li>

{{- if $helmChartVersion }}
      <li>
        <b><a href="https://github.com/cyberark/conjur-oss-helm-chart" target="_blank">Conjur OSS Helm chart</a></b>

        <p>
        Update the <code>image.tag</code> value and use the appropriate release of the helm
        chart:
        </p>

        <pre><code>helm install ... \
  --set image.tag="{{$conjurVersion}}" \
  ...
  https://github.com/cyberark/conjur-oss-helm-chart/releases/download/v{{$helmChartVersion}}/conjur-oss-{{$helmChartVersion}}.tgz</code></pre>
      </li>
{{- end }}
    </ul>

    <h2>Upgrade Instructions</h2>
    <p>Upgrade instructions are available for the following suite components:</p>
    <ul>
      {{- range .SuiteCategories }}
      {{- range .Components }}
      {{- if .UpgradeURL }}
      <li>
        <p><a href="{{ .UpgradeURL }}" target="_blank">{{ .Repo }}</a></p>
      </li>
      {{- end }}
      {{- end }}
      {{- end }}
    </ul>

    <h2>What's New by Component</h2>
    <p>The following components were introduced or enhanced in the Conjur OSS suite version {{ toLower .Version }}.</p>

    {{- range .SuiteCategories }}
    {{- range .Components }}
    {{- if ne (len .Changelogs) 0 }}
    <h3 class="itt">{{ .Repo }}</h3>
    {{- range .Changelogs }}
    <h4><a href="https://github.com/{{ .Repo }}/releases/tag/v{{ .Version }}" target="_blank">v{{ .Version }}</a> ({{ .Date }})</h4>
    {{- range $sectionKey, $sectionValues := .Sections }}
    <p><strong>{{ $sectionKey }}</strong></p>
    <ul>
      {{- range $sectionItem := $sectionValues }}
      <li>
        <p>{{ markdownHyperlinksToHTMLHyperlinks $sectionItem -}}</p>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
    {{- end }}
    {{- end -}}
    {{- end }}
  </body>
</html>
