# Release Notes
All notable changes to this project will be documented in this file.

## [{{ .Version }}] - {{ .Date.Format "2006-01-02" }}

## Table of Contents

- [Components](#components)
- [Installation Instructions for the Suite Release Version of Conjur](#installation-instructions-for-the-suite-release-version-of-conjur)
- [Upgrade Instructions](#upgrade-instructions)
- [Changes](#changes)

## Components

These are the components that combine to create this Conjur OSS Suite release and links
to their releases:
{{- range .SuiteCategories }}

### {{ .CategoryName }}
{{- range .Components }}
- **[{{ .Repo }} {{ .ReleaseName }}](https://github.com/{{ .Repo }}/releases/tag/{{ .ReleaseName }})** ({{ .ReleaseDate }}) {{ template "certification_badge.md" . -}}
{{- end }}
{{- end }}

## Installation Instructions for the Suite Release Version of Conjur

{{ template "conjur_installation_instructions.md" . }}

## Upgrade Instructions

Upgrade instructions are available for the following components:
{{- range .SuiteCategories }}
{{- range .Components }}
{{- if .UpgradeURL }}
- [{{ .Repo }}]({{ .UpgradeURL }})
{{- end }}
{{- end }}
{{- end }}

## Changes
The following are changes to the constituent components since the last Conjur
OSS Suite release:
{{- range .SuiteCategories }}
{{- range .Components }}
{{- if ne (len .Changelogs) 0 }}
- [{{ .Repo }}](#{{ markdownHeaderLink .Repo }})
{{- end }}
{{- end }}
{{- end -}}

{{ range .SuiteCategories }}
{{- range .Components }}
{{- if ne (len .Changelogs) 0 }}

### {{ .Repo }}
{{ range .Changelogs }}
#### [v{{ .Version}}](https://github.com/{{ .Repo }}/releases/tag/v{{ .Version }}) ({{.Date }})
{{- range $sectionKey, $sectionValues := .Sections }}
* **{{ $sectionKey }}**
{{- range $sectionItem := $sectionValues }}
    - {{ $sectionItem }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
